// colors
$white: #fff; // шрифт
$white2: #E5E5E5; //фон
$black: #000; // шрифт
$yellow: #E8C300; // кнопочки там и т.д.
$gray: #E5E5E5; // для форм ввода данных
$gray2: #33333380; // для форм ввода данных - text

$--index: calc(1vw + 1vh);

$os: 'Open Sans';
$acme: 'Acme';