.main_white {
  position: relative;
  height: 600px;
  width: 100%;
  font-family: $os;
}
.blocks{
  position: relative;
  display: flex;
  max-width: 100%;
  grid-gap: 80px;
  justify-content: center;
  align-items: center;  
}
.title_main {
  height: 56px;
  text-transform: uppercase;
  font-family: $acme;
  font-weight: 400;
}
.text_class {
  position: relative;
  max-width: 600px;
  //height: 180px;
  text-align: center;
  //justify-content: center;
}
.first_text_about {
  font-weight: 700;
}
.blocks img{
  
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}